.hotkey, .pointer {
  cursor: pointer;
}

.animate {
  transform: scale(1.05);
  box-shadow: 0 0 1rem #ffc600;
  left: 100px;
}

#addRtext {
  height: inherit;
  line-height: inherit;
}

/* Custom bootstrap */
.table {
  width: 80%;
  margin-bottom: 10rem;
}

.table tr {
  transition: all 0.07s ease;
}

.table td.id { width: 15%; }
.table td.substance { width: 30%; }
.table td.hotkey { width: 30%; }
.table td.zoom { width: 10%; }
.table td.counter { width: 15%; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e1efda;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  background-color: #6fad47;
  border-color: #6fad47;
}

/* Custom fontawesome */
.fa-plus-circle {
  color: green;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.fa-minus-circle {
  color: red;
  font-size: 1.5rem;
}